Keras==2.3.1
Keras-Applications==1.0.8
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-pos-embd==0.11.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
Markdown==3.1.1
numpy==1.17.3
pandas==1.0.3
tensorflow==1.15.2
